doctype 5
html(lang='en')
	head
		meta(charset='utf-8')
		title='Postit'
		link(rel='shortcut icon', href='static/img/postit.png')
		link(rel='stylesheet', type='text/css' , href='/static/css/bootstrap.min.css')
		link(rel='stylesheet', type='text/css' , href='/static/css/base.css')
		link(rel='stylesheet', type='text/css', href='http://fonts.googleapis.com/css?family=Reenie+Beanie')
		block extrastyle
	body
		a(href="https://github.com/erickxls/postit")
			img(src='https://s3.amazonaws.com/github/ribbons/forkme_left_green_007200.png', alt='Fork me on Github', style='position: absolute; top: 0; left: 0; border: 0;')
		header
			block header
				h1 Postit App
		section
			block content
		//- Scripts
		script(type='text/javascript', src='https://ajax.googleapis.com/ajax/libs/jquery/1.8/jquery.min.js')
		script(type='text/javascript', src='/static/js/bootstrap.min.js')
		script(type='text/javascript', src='/socket.io/socket.io.js')
		script(type='text/javascript', src='/static/js/notifier.js')
