extends base
block content
	ul#posts
		if posts
			for post in posts
				li.postit
					h2.title #{ post.title }
					p.content #{ post.content }
					i.author #{ post.author }
					br
					i.date #{ post.created.toDateString() }
		else
			p No data found