extends base
block content
	ul#posts
		if posts
			for post in posts
				li.postit
					h2.title #{ post.title }
					p.content #{ post.content }
					i.author #{ post.author }
					br
					i.date #{ post.created.toDateString() }
		else
			p No data found
	div
		form#form-post(method='post', action='/post')
			label(for='title') Titulo
			input#title(type='text', name='title')
			label(for='content') Contenido
			textarea#content(name='content')
			input#save-post-btn.btn(type='submit', value='Post')